.task {
  display: flex;
  border: 1px solid rgb(164, 235, 184);
  background-color: rgb(223, 228, 222);
  margin: 10px 20px;
  padding: 10px;
}

.task h2 {
  flex-grow: 1;
  padding: 0;
  margin: 0;
}

.task button {
  margin-left: 20px;
}

.task button:hover {
  opacity: 0.75;
}

.task button:active{
  opacity: 0.5;
}

.task button:nth-child(2) {
  background-color: green;
  color: greenyellow;
  border: none;
  padding: 10px;
  border-radius: 2px;
}

.task button:nth-child(3) {
  background-color: rgb(151, 64, 64);
  color: rgb(232, 131, 131);
  border: none;
  padding: 10px;
  border-radius: 2px;
}

.container {
  width: 50%;
  margin: auto;
}

.add {
  display: flex;
  margin: 10px 20px;
}

.add input {
  flex-grow: 1;
  font-size: 20px;
  padding: 5px;
}

.add button {
  background-color: rgb(71, 71, 136);
  color: blue;
  border: none;
  padding: 10px;
  border-radius: 2px;
}

.information {
  text-align: center;
  border: 1px solid #000;
  background-color: antiquewhite;
}

.information h2 {
  font-size: 20px;
}

.information h2:nth-child(2) {
  color: rgb(110, 18, 18);
}

.information h2:nth-child(3) {
  color: rgb(19, 141, 70);
}

.delete {
  display: flex;
  gap: 5px;  
}

.delete button{
  flex-grow: 1;
  padding: 10px;
  background-color: rgb(177, 65, 5);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 15px;
}